.login{
    min-height: 100vh;
    background: url(/background.png) ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login .logo{
    width: max(20vw, 200px);
}
.login-form{
    background: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.login-form h2{
    font-weight: 500;
}
.login-form input{
    padding: 8px 10px;
    
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline-color: #077EFF;
}
.login-form button{
    padding: 10px;
    background: #077EFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    cursor: pointer;
}

.login-term{
    display: flex;
    font-size: 12px;
    color: #555;
    gap: 5px;
}
.login-forgot{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-toggle{
   
    font-size: 13px;
}   
.login-toggle span{
    font-weight: 500;
    color: #077EFF;
    cursor: pointer;
}

@media (max-width:768px){
   .login{
    flex-direction: column;
    justify-content: center;
   } 
}