.login{
    min-height: 100vh;
    background: url(/background.png) ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login .logo{
    width: max(20vw, 200px);
}
.login-form{
    background: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.login-form h2{
    font-weight: 500;
}
.login-form input{
    padding: 8px 10px;
    
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline-color: #077EFF;
}
.login-form button{
    padding: 10px;
    background: #077EFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    cursor: pointer;
}

.login-term{
    display: flex;
    font-size: 12px;
    color: #555;
    gap: 5px;
}
.login-forgot{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-toggle{
   
    font-size: 13px;
}   
.login-toggle span{
    font-weight: 500;
    color: #077EFF;
    cursor: pointer;
}

/* Lớp phủ mờ toàn màn hình */
.term-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Hộp nội dung chính */
.term-content {
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 500px; /* Giới hạn chiều rộng */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: left;
}

.term-content h3 {
    margin-top: 0;
    color: #077EFF;
}

/* Phần văn bản có thể cuộn nếu quá dài */
.term-text {
    max-height: 300px;
    overflow-y: auto;
    margin: 15px 0;
    padding-right: 10px;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

/* Nút đóng */
.term-content button {
    width: 100%;
    padding: 10px;
    background-color: #077EFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.term-content button:hover {
    background-color: #005bb5;
}





@media (max-width:768px){
   .login{
    flex-direction: column;
    justify-content: center;
   } 
}